{% extends 'main.html' %}
{% load static %}
{% block title %}الوحدات {% endblock title %}
{% block style %}
    <style>
        .page-item.active .page-link {
            border-radius: 5px;

        }

        .page-link {
            color: #dbd6d6 !important;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #dbd6d6;
            color: #000000;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            text-align: center;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            text-align: center;

        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #dbd6d6;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #dbd6d6;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #dbd6d6;
        }
    </style>
{% endblock style %}
{% block body %}
    <main id="main">
    <section>
        <div class="section-title">
            <h3>Thin Clients</h3>
        </div>
                <div id="get-started" class="padd-section text-center" style="width: 90%;margin: 8rem 7rem;">

            <table class="table styled-table" style="width: 90%;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">اسم الوحدة</th>
                                        <th scope="col">الكود</th>

                    <th scope="col">العدد الكلى</th>

                                     <th scope="col"></th>
                    <th scope="col"></th>

                </tr>
                </thead>
                <tbody>
                {% for unit in units %}
                    <tr>
                        <th scope="row">{{ unit.pk }}</th>
                        <td>{{ unit.code.name }}</td>
                        <td>{{ unit.code.code }}</td>
                        <td>{{ unit.total }}</td>

<td> <a class="btn-sm btn-primary" href="{% url 'unit-detail-code' unit.code.pk %}">التفاصيل</a></td>


                    </tr>

                {% endfor %}

                </tbody>
            </table>
        </div>

    </section>
    </main>



{% endblock body %}



