{% extends 'main.html' %}

{% block title %}  تقرير العمل اليومى للوحدات {% endblock title %}

{% block body %}
<main id="main">
<section id="get-started" class="padd-section text-center">
   <div class="container" data-aos="fade-up" style="height: 34vh;margin:0 auto;" >
            <div class="section-title text-center">

                <h2 style="color:#85775f">منظومة التقارير</h2>
                <h3 id="name">تقرير العمل اليومى للوحدات</h3>
                <p class="separator"></p>

            </div>
        </div>
     <div class="container" style="margin: 0 auto;">
            <div class="row" style="display:flex;flex-direction: row; margin-inline: 10rem">
                  <form method="post" style="display:flex;flex-direction: row;margin: 0 auto;">
                      {% csrf_token %}
                   <div class="form-group" style="display: flex;order:2;" >
                   <label for="pk">إختر الوحدة</label>
                       <select id="pk" name="pk"  class="form-control" >
                        {% for unit in units %}
                                <option value="{{ unit.pk }}">{{ unit.name }}</option>
                           {% endfor %}
                       </select>
                   </div>
                      <div class="form-group" style="display:flex; order: 3; margin-inline: 0.4rem;">
                          <input type="submit" name="submit" id="submit" class="btn btn-success" value="التقرير">
                      </div>
                  </form>
            </div>
     </div>
</section>


</main>


{% endblock body %}