{% extends 'main.html' %}
{% load static %}
{% block title %} تفاصيل الوحده {% endblock title %}
{% block style %}
    <style>
        .page-item.active .page-link {
            border-radius: 5px;

        }

        .page-link {
            color: #dbd6d6 !important;
        }

        .styled-table {
            border-collapse: collapse;
            margin: 25px 0;
            font-size: 0.9em;
            font-family: sans-serif;
            min-width: 400px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        }

        .styled-table thead tr {
            background-color: #dbd6d6;
            color: #000000;
            text-align: left;
        }

        .styled-table th,
        .styled-table td {
            padding: 12px 15px;
            text-align: center;
        }

        .styled-table tbody tr {
            border-bottom: 1px solid #dddddd;
            text-align: center;

        }

        .styled-table tbody tr:nth-of-type(even) {
            background-color: #dbd6d6;
        }

        .styled-table tbody tr:last-of-type {
            border-bottom: 2px solid #dbd6d6;
        }

        .styled-table tbody tr.active-row {
            font-weight: bold;
            color: #dbd6d6;
        }
    </style>
{% endblock style %}
{% block body %}
    <main id="main">
    <section>
        <div class="section-title">
            <h3>{{ unit.name }}</h3>
            <p>{{ unit.code }}</p>
        </div>
                            <div id="get-started" class="padd-section text-center" style="width: 90%;margin: 8rem 7rem;">
            <div style="display:flex; flex-direction:row;">
                <i data-bs-toggle="modal" data-bs-target="#createModal" class="fa fa-plus-circle" aria-hidden="true"
                   style="color:#0a58ca;display:flex; order: 1; font-size: 40px;"></i>
            </div>
            <table class="table styled-table" style="width: 90%;">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">الأسم القصير</th>
                    <th scope="col">CDB</th>
                    <th scope="col">EPG</th>
                    <th scope="col">العدد الكلى</th>
                    <th scope="col">تاريخ الأستلام</th>
                    <th scope="col">تاريخ التوصيل</th>
                    <th scope="col">العدد المنتهى</th>
                    <th scope="col">العدد المتبقى</th>
                    <th scope="col"> DataBase Zone</th>
                    <th scope="col"> DataBase Name</th>
                    <th scope="col"> نسبة 25%</th>
                    <th scope="col"> نسبة 50%</th>
                    <th scope="col"></th>
                    <th scope="col" rowspan="2">اجمالى العدد المستلم</th>
                    <th scope="col" rowspan="2">اجمالى العدد المنتهى</th>
                    <th scope="col">إجمالى نسبة 25%</th>
                    <th scope="col">إجمالى نسبة 50%</th>

                </tr>
                </thead>
                <tbody>
                {% for device in clients %}
                    <tr>
                    <th scope="row">{{ device.pk }}</th>
                    <td>{{ device.short_name }}</td>
                    <td>{{ device.cdb }}</td>
                    <td>{{ device.epg }}</td>
                    <td>{{ device.total_devices.total }}</td>
                                        <td>{{ device.recieved_date }}</td>
                    <td>{{ device.delivery_date }}</td>

                    <td>{{ device.devices_done }}</td>
                    <td>{{ device.remain_devices }}</td>
                    <td>{{ device.database_zone }}</td>
                    <td>{{ device.database_name }}</td>
                    <td>{{ device.per25 }}</td>
                    <td>{{ device.per50 }}</td>

                    <td style="display:flex; flex-direction:row;"><i data-bs-toggle="modal"
                                                                     data-bs-target="#deleteModal"
                                                                     id="{{ device.pk }}"
                                                                     style="color:#a52834; font-size:29px; margin-inline: 0.3rem;"
                                                                     class="fa fa-trash-o sara_delete"
                                                                     aria-hidden="true"></i>
                        <i data-bs-toggle="modal" data-bs-target="#updateModal"
                           style="color:#55b03f; font-size:29px;" id="{{ device.pk }}"
                           class="fa fa-pencil-square-o sara_edit" aria-hidden="true"></i>
                    </td>
                {% endfor %}
                    <td rowspan="0">{{ total_devices }}</td>
                    <td rowspan="0">{{ devices_done }}</td>
                    <td rowspan="0">{{ per25 }}</td>
                    <td rowspan="0">{{ per50 }}</td>

                </tr>

                </tbody>
            </table>
        </div>

    </section>
    </main>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel"> تاكيد الإزالة</h5>
                </div>
                <div class="modal-body">
                    هل تريد الأزالة
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">غلق</button>
                    <button type="button" class="btn btn-danger" id="btn_delete">تأكيد</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel"> تعديل </h5>
                </div>
                <div class="modal-body" id="edit_body">
                    <form>
                        {% csrf_token %}

                        <div class="form-group">
                            <input type="text" class="form-control" name="short_name_up" id="short_name_up"
                                   placeholder="اسم القصير"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="cdb_up" id="cdb_up" placeholder="CDB"/>
                        </div>


                        <div class="form-group">
                            <input type="text" class="form-control" name="epg_up" id="epg_up" placeholder="EPG"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="database_zone_up" id="database_zone_up"
                                   placeholder="Database Zone "/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="database_name_up" id="database_name_up"
                                   placeholder="Database Zone "/>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" name="devices_done_up" id="devices_done_up"
                                   placeholder="الأجهزه المنتهية"/>
                        </div>
                           <div class="form-group">
                               <label>تاريخ الأستلام</label>
                            <input type="date" class="form-control" name="re_date_up" id="re_date_up"
                                   placeholder="تاريخ الأستلام"/>
                        </div>
     <div class="form-group">
                                        <label>تاريخ التوصيل</label>

                            <input type="date" class="form-control" name="de_date_up" id="de_date_up"
                                   placeholder="تاريخ التوصيل"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <button type="button" class="btn btn-success" id="btn_update">تأكيد</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="updateModalLabel"> إضافة </h5>
                </div>
                <div class="modal-body" id="add_body">
                    <form>
                        {% csrf_token %}


                        <div class="form-group">
                            <input type="text" class="form-control" name="short_name_add" id="short_name_add"
                                   placeholder="اسم القصير"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="cdb_add" id="cdb_add" placeholder="CDB"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="epg_add" id="epg_add" placeholder="EPG"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="database_zone_add" id="database_zone_add"
                                   placeholder="Database Zone "/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="database_name_add" id="database_name_add"
                                   placeholder="Database Zone "/>
                        </div>

                        <div class="form-group">
                            <input type="number" class="form-control" name="devices_done_add" id="devices_done_add"
                                   placeholder="الأجهزه المنتهية"/>
                        </div>
        <div class="form-group">
                                           <label>تاريخ الأستلام</label>

                            <input type="date" class="form-control" name="re_date" id="re_date"
                                   placeholder="تاريخ الأستلام"/>
                        </div>
     <div class="form-group">
                                        <label>تاريخ التوصيل</label>

                            <input type="date" class="form-control" name="de_date" id="de_date"
                                   placeholder="تاريخ التوصيل"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">الغاء</button>
                    <button type="button" class="btn btn-primary" id="btn_add">إضافة</button>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}


{% block javascript %}
    <script>
        var delete_id;
        var update_id;
        var updated_item;

        $(() => {
            $('i.sara_edit').click(function () {
                update_id = $(this).attr('id');
                $.ajax({
                    method: 'POST',
                    url: '{% url 'get_thin' %}',
                    data: {
                        'id': update_id,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        var JsData = JSON.parse(data.data)
                        console.log(JsData)
                        updated_item = JsData[0].fields
                        $("#units").val(`${update_id}`);
                        $("#cdb_up").val(`${updated_item.cdb}`);
                        $("#epg_up").val(`${updated_item.epg}`);
                        $("#short_name_up").val(`${updated_item.short_name}`);
                        $("#devices_done_up").val(`${updated_item.devices_done}`);
                        $("#database_name_up").val(`${updated_item.database_name}`);
                        $("#database_zone_up").val(`${updated_item.database_zone}`);
                        $("#re_date_up").val(`${updated_item.recieved_date}`);
                        $("#de_date_up").val(`${updated_item.delivery_date}`);

                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

            });

            $('i.sara_delete').click(function () {
                delete_id = $(this).attr('id');
                console.log("delete", delete_id);

            });
            $("#btn_delete").on('click', e => {
                $.ajax({
                    method: 'POST',
                    url: '{% url 'delete_thin' %}',
                    data: {
                        'id': delete_id,
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'unit-detail-code' pk %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });
            });
            $("#btn_update").on('click', event => {
                event.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'update_thin' %}',
                    data: {
                        'update_id': update_id,
                        'status': $("#status_up").val(),
                        'cdb': $("#cdb_up").val(),
                        'epg': $("#epg_up").val(),
                        'database_name': $("#database_name_up").val(),
                        'database_zone': $("#database_zone_up").val(),
                        'devices_done': $("#devices_done_up").val(),
                        'short_name': $("#short_name_up").val(),
                        're_date': $("#re_date_up").val(),
                        'de_date': $("#de_date_up").val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'unit-detail-code' pk %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

            });

            $("#btn_add").on('click', e => {
                e.preventDefault();
                $.ajax({
                    method: 'POST',
                    url: '{% url 'create_thin' %}',
                    data: {
                        'pk': {{pk}},
                        'status': $("#status_add").val(),
                        'cdb': $("#cdb_add").val(),
                        'epg': $("#epg_add").val(),
                          're_date': $("#re_date").val(),
                        'de_date': $("#de_date").val(),
                        'database_name': $("#database_name_add").val(),
                        'database_zone': $("#database_zone_add").val(),
                        'devices_done': $("#devices_done_add").val(),
                        'short_name': $("#short_name_add").val(),
                        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                    },
                    success: function (data) {
                        if (data.data === 1) {
                            swal({
                                title: "تم",
                                text: "تم  بنجاح",
                                icon: "success",
                                button: "إغلاق",
                            });
                            window.location.href = "{% url 'unit-detail-code' pk %}"
                        } else {
                            swal({
                                title: "خطا",
                                text: "من فضلك راجع البيانات",
                                icon: "error",
                                button: "إغلاق",
                            });
                        }
                    },
                    error: function (error) {
                        alert(error.responseText)
                    }
                });

            })

        });

    </script>

{% endblock javascript %}
